/*
 * Colour references:
 *
 * Dark grey-blue:      #525564
 * Light grey-blue:     #74828F
 * Light blue:          #96C0CE
 * Grey beige:          #BEB9B5
 * Brick red:           #C25B56
 * Light beige:         #FEF6EB
 *
*/

html
{
    position: relative;
    min-height: 100%;
}

body
{
    background-color: #FEF6EB;
    font-size: 100%;

    /* Margin should match footer height */
    margin: 0 0 30px;
}

footer
{
    /* Height should match body margin */
    height: 30;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

footer p, footer a
{
    font-style: oblique;
    color: #C25B56;
}

.nav-bar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C25B56;
}

.nav-bar li
{
    float: right;
}

.nav-bar a
{
    font-size: 140%;
    display: block;
    color: #FEF6EB;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Arial", "Sans";
}

.nav-bar a:hover
{
    background-color: #FEF6EB;
    color: #74828F;
}

.form
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;

    margin-top: -10em;
    margin-left: -15em;

    background-color: #FEF6EB;
    text-align: center;
}

.form input[type=text], .form input[type=password]
{
    border: 2px solid #C25B56;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 10px;
    width: 95%;

    background-color: #BEB9B5;
    color: #C25B56;
    font-weight: bold;
    text-align: center;
}

.form input[type=submit]
{
    border: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 14px;
    width: 80%;

    background-color: #C25B56;
    color: #FEF6EB;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.flashes
{
    padding: 0;
    margin-left: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    width: 30em;
    height: 5em;
    margin-top: -2.5em;
    margin-left: -15em;
}

.flashes li
{
    font-family: "Arial", "Sans";
    padding: 10px;
    font-size: 120%;
    text-align: center;
    list-style-type: none;
}

li.message
{
    background-color: #96C0CE;

}

li.error
{
    background-color: #C25B56;

}

