{% extends "layout.html" %}

{% block title %}
    Birthdays
{% endblock %}

{% block body %}

    <table class="entries">
        <th class="daysleft">Days left</th>
        <th class="date">Date</th>
        <th class="person">Person</th>
        <th class="action">Action</th>
            <tr>
                <form action="{{ url_for("create_birthday") }}" id="birthday_form" method="post" autocomplete="off">
                <td></td>
                <td><input type="text" id="isodate" name="birthday_date" placeholder="YYYY-MM-DD" /></td>
                <td><input type="text" name="birthday_person" placeholder="New birthday..." /></td>
                <td><input type="submit" value="Create" /></td>
                </form>
            </tr>

        {% if birthdays %}
            {% for birthday in birthdays %}
                <tr>
                    <form action="{{ url_for("remove_birthday") }}" method="post">
                        <input type="hidden" name="birthday_id" value="{{ birthday.id }}" />
                        <td class="js_daysleft"></td>
                        <td class="js_date">{{ birthday.date }}</td>
                        <td>{{ birthday.person }}</td>
                        <td><input type="submit" value="Remove" /></td>
                    </form>
                </tr>
            {% endfor %}
        {% else %}
            <td></td>
            <td></td>
            <td>Nothing here yet!</td>
        {% endif %}
    </table>

{% endblock %}

