<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="{{ url_for("static", filename="styles.css") }}" rel="stylesheet" />

        {% block head %}
        {% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>

        <div class="nav-bar">
            <ul>

                {% if session.user_id %}
                    <li>
                        <a href="{{ url_for("logout") }}">Log out</a>
                    </li>
                    <li style="float:left">
                        <a href="{{ url_for("entries") }}">Entries</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for("register") }}">Register</a>
                    </li>
                    <li>
                        <a href="{{ url_for("login") }}">Log in</a>
                    </li>
                {% endif %}

            </ul>
        </div>

        {% block body %}
        {% endblock %}

        <footer>
            <p>
                &copy; 2017 Sam Triest ~
                <a href="https://github.com/Ithalos/cs50/tree/master/final-project">
                    Source Code
                </a>
            </p>
        </footer>
    </body>
</html>

