{% extends "layout.html" %}

{% block title %}
    Memos
{% endblock %}

{% block body %}

    <table class="entries">
        <th>Memo</th>
        <th class="action">Action</th>
            <tr>
                <form action="{{ url_for("create_memo") }}" method="post" autocomplete="off">
                    <td><input type="text" name="memo_text" placeholder="Enter new memo..." /></td>
                    <td><input type="submit" value="Create" /></td>
                </form>
            </tr>

        {% if memos %}
            {% for memo in memos %}
                <tr>
                    <form action="{{ url_for("remove_memo") }}" method="post">
                        <input type="hidden" name="memo_id" value="{{ memo.id }}" />
                        <td>{{ memo.text }}</td>
                        <td><input type="submit" value="Remove" /></td>
                    </form>
                </tr>
            {% endfor %}
        {% else %}
            <td>Nothing here yet!</td>
        {% endif %}
    </table>

{% endblock %}

