{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for("static", filename="dates.js") }}"></script>
{% endblock %}

{% block title %}
    Tasks
{% endblock %}

{% block body %}

    <table class="entries">
        <th class="daysleft">Days left</th>
        <th class="date">Date</th>
        <th class="task">Task</th>
        <th class="action">Action</th>
            <tr>
                <form action="{{ url_for("create_task") }}" method="post" autocomplete="off">
                    <td></td>
                    <td><input type="text" name="task_date" placeholder="YYYY-MM-DD" /></td>
                    <td><input type="text" name="task_text" placeholder="New task..." /></td>
                    <td><input type="submit" value="Create" /></td>
                </form>
            </tr>

        {% if tasks %}
            {% for task in tasks %}
                <tr>
                    <form action="{{ url_for("remove_task") }}" method="post">
                        <input type="hidden" name="task_id" value="{{ task.id }}" />
                        <td class="js_daysleft"></td>
                        <td class="js_date">{{ task.date }}</td>
                        <td>{{ task.text }}</td>
                        <td><input type="submit" value="Remove" /></td>
                    </form>
                </tr>
            {% endfor %}
        {% else %}
            <td></td>
            <td></td>
            <td>Nothing here yet!</td>
        {% endif %}
    </table>

{% endblock %}

